.battery {
    width: 200px;
    height: 80px;
    border: 4px solid black;
    margin: 20px;
    position: relative;
}

.battery::after {
    content: "";
    width: 10px;
    height: 30px;
    background: black;
    position: absolute;
    right: -14px;
    top: 50%;
    transform: translateY(-50%);
}

.battery::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.red::before {
    width: 30%;
    background: red;
}

.yellow::before {
    width: 60%;
    background: gold;
}

.green::before {
    width: 100%;
    background: green;
}