* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.myblock {
    width: 400px;
    height: 200px;
    border: 3px solid black;
    border-radius: 4px;
    margin: 30px;
}

.lemon {
    width: 180px;
    height: 180px;
    margin: 10px;
    background: url('lemon.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
    float: left;
}

.avatar {
    width: 150px;
    height: 150px;
    background: url('lemon.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.about-lemon h3 {
    text-align: center;
    padding: 10px 0;
}

.about-lemon p {
    font-size: 12px;
    line-height: 150%;
    margin: 20px 0;
}
