.links {
  background: #F6967D;
}

.links a {
  color: #FFFDEB;
  display: inline-block;
  border-right: 1px solid #B62025;
  padding: 5px 10px;
  text-decoration: none;
}

.links a:last-child {
  border-right: none;
}