nav ul.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
}

nav ul.menu li a {
    display: flex;
    align-items: center;
    gap: 6px;
    text-decoration: none;
    color: #fff;
}

.menu-icon {
    width: 16px !important;
    height: 16px !important;
    min-width: 16px;
    min-height: 16px;
    display: inline-block;
    fill: #fff;
}

nav ul.menu li a:hover {
    color: #ffd700;
}

nav ul.menu li a:hover .menu-icon {
    fill: #ffd700;
}
