body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f2f2f2;
}
/*ЛАБИ ЗВЕРХУ*/
.portfolio-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color:  #2c3e50; 
    color: white;
    text-decoration: none;
    border-radius: 8px;
    margin: 5px;
    transition: background-color 0.3s; 
}

.portfolio-btn:hover {
    background-color: #2c3e50; 
}



/* МЕНЮ */
.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    background: #222;
    padding: 10px;
    margin: 0;
}

.menu li {
    margin: 0 15px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.menu a:hover {
    text-decoration: underline;
}

/* ОСНОВНИЙ БЛОК */
.container {
    display: flex;
    max-width: 900px;
    margin: 20px auto;
    background: white;
}

/* ЛІВА КОЛОНКА */
.left {
    width: 30%;
    background: #2c3e50;
    color: white;
    padding: 20px;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;   
    display: block;
    margin: 0 auto 20px;
}

/* ПРАВА КОЛОНКА */
.right {
    width: 70%;
    padding: 20px;
}

h1, h2 {
    margin-top: 0;

}


